* {
    list-style:none;
}
.header {
    text-align:center;
    font-size:30px;
}
.form {
    display:inline-block;
}
.form label {
    display:block;
}

.form input {
    margin-bottom:10px;
}

table {
    border-collapse:collapse;
}

td, th {
    padding:5px 15px;
    border:1px solid #ccc;
}

img {
    max-width:200px;
    height:auto;
}

.btn {
    padding:10px;
    border:0;
    background-color:#3cb371;
    color:#fff
}

.table {
    float:right
}